<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <title>Spring项目可视化</title>
    <link rel="stylesheet" href="/methodClone/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="/methodClone/js/echarts.min.js"></script>
    <script src="/methodClone/js/vue.js"></script>
    <script src="/methodClone/js/jquery-3.5.1.min.js"></script>

    <style type="text/css">
        html, body {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
        }

        #main {
            width: 100%;
            min-height: 100%;
        }
    </style>
</head>
<body>
<!-- 为ECharts准备一个全屏的Dom -->
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">项目代码可视化系统</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/methodClone/">返回首页</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

            </ul>
        </div>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group" style="width: 30%;margin-left: 35%">
            <label>选择需要进行可视化的Spring项目</label>
            <select class="form-control" id="projectNameList" onchange="getMethodTimes(),getAPIMethod()">

            </select>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group" style="width: 30%;margin-left: 35%">
            <label>选择方法调用的次数</label>
            <select class="form-control" id="times_list" name="timesmethod" onchange="getMethodTimes1()">

            </select>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group" style="width: 30%;margin-left: 35%">
            <label>API树状展示：请选择要展示的API</label>
            <select class="form-control" id="api_list" name="api_namae_list" onchange="">

            </select>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group" style="width: 30%;margin-left: 35%">
            <label>选择要查看树形的方法</label>
            <select class="form-control" id="times_method_list">

            </select>
        </div>
    </div>
</div>
<div id="main">
</div>
<script>

    var vm = new Vue({
        el: '#app',
        data: {
            entityAndrelation: {
                "entity":[],
                "relation":[]
            }
        },
        method: {},
        created(){
        },
        mounted(){
            var thisData = this
            // 基于准备好的dom，初始化echarts实例

            var myChart = echarts.init(document.getElementById('main'));
            myChart.showLoading();
            $("#projectNameList").change(function () {
                $.ajax({
                    type:'POST',
                    // data:'',
                    url:'/methodClone/layertree/layer1',
                    dataType: 'json',
                    data: {
                        projectName:$("#projectNameList option:selected").text()
                    },
                    success: function(msg){
                        var data = JSON.parse(JSON.stringify(msg)).data
                        myChart.hideLoading();
                        console.log(data)
                        echarts.util.each(data.children, function (datum, index) {
                            index % 2 === 0 && (datum.collapsed = true);
                        });
                        myChart.setOption(option = {
                            tooltip: {
                                trigger: 'item',
                                triggerOn: 'mousemove'
                            },
                            series: [
                                {
                                    type: 'tree',
                                    data: [data],
                                    top: '1%',
                                    left: '7%',
                                    bottom: '1%',
                                    right: '20%',
                                    symbolSize: 10,
                                    //orient: 'vertical',
                                    label: {
                                        position: 'left',
                                        verticalAlign: 'middle',
                                        align: 'right',
                                        fontSize: 12
                                        //rotate: -90
                                    },
                                    leaves: {
                                        label: {
                                            position: 'right',
                                            verticalAlign: 'middle',
                                            align: 'left'
                                        }
                                    },
                                    expandAndCollapse: true,
                                    animationDuration: 550,
                                    animationDurationUpdate: 750
                                }
                            ]
                        });
                    }
                })
            });

            $(document).ready(function(){
                $.ajax({
                    type:'GET',
                    data:'',
                    url:'/methodClone/layertree/getProjectList',
                    dataType: 'json',
                    success: function(msg) {

                        var data = JSON.parse(JSON.stringify(msg))
                        var projectNameList = data.data
                        var Array = [...projectNameList]
                        $("#projectNameList").prepend("<option>请选择</option>");
                        Array.forEach(function(item){
                            $("#projectNameList").prepend("<option>" + item + "</option>")
                        });
                    }
                });
            });
        }
    })
    function getMethodTimes() {
        $.ajax({
            type:'GET',
            data: {
                timesmethod:$("#times_list option:selected").text()
            },
            url:'/methodClone/layertree/getTimesList',
            dataType: 'json',
            success: function(msg) {
                $("#times_list").empty();
                var data = JSON.parse(JSON.stringify(msg));
                //console.log(data);
                var methodRootList = data.data;
                var Array = [...methodRootList];
                $("#times_list").prepend("<option>请选择</option>");
                Array.forEach(function(item){
                    $("#times_list").prepend("<option>" + item + "</option>")
                })
            }
        })
    }

    function getMethodTimes1() {

        $.ajax({
            type:'POST',
            data: {
                timesmethod:$("#times_list option:selected").text()
            },
            url:'/methodClone/layertree/getTimesMethodList',
            dataType: 'json',
            success: function(msg) {
                $("#times_method_list").empty();
                var data = JSON.parse(JSON.stringify(msg));
                var methodRootList = data.data;
                var Array = [...methodRootList];
                $("#times_method_list").prepend("<option>请选择</option>");
                Array.forEach(function(item){
                    $("#times_method_list").prepend("<option>" + item + "</option>")
                })
            }
        })
    }

    function getAPIMethod() {

        $.ajax({
            type:'GET',
            url:'/methodClone/layertree/getAPIMethod',
            data: {
                projectName:$("#projectNameList option:selected").text()
            },
            dataType: 'json',
            success: function(msg) {
                $("#api_list").empty();
                var data = JSON.parse(JSON.stringify(msg));
                console.log(data)
                var methodRootList = data.data;
                var Array = [...methodRootList];
                $("#api_list").prepend("<option>请选择API</option>");
                Array.forEach(function(item){
                    $("#api_list").prepend("<option>" + item + "</option>")
                })
            }
        })
    }

    var myChart1 = echarts.init(document.getElementById('main'));
    $("#times_method_list").change(function () {
        $.ajax({
            type:'POST',
            // data:'',
            url:'/methodClone/layertree/layer2',
            dataType: 'json',
            data: {
                method_name:$("#times_method_list option:selected").text(),
                times:$("#times_list option:selected").text()
            },
            success: function(msg){
                var data = JSON.parse(JSON.stringify(msg)).data
                myChart1.hideLoading();
                console.log("********")
                console.log(data)
                console.log("********")
                echarts.util.each(data.children, function (datum, index) {
                    index % 2 === 0 && (datum.collapsed = true);
                });
                myChart1.setOption(option = {
                    tooltip: {
                        trigger: 'item',
                        triggerOn: 'mousemove'
                    },
                    series: [
                        {
                            type: 'tree',
                            data: [data],
                            top: '1%',
                            left: '7%',
                            bottom: '1%',
                            right: '20%',
                            symbolSize: 10,
                            //orient: 'vertical',
                            label: {
                                position: 'left',
                                verticalAlign: 'middle',
                                align: 'right',
                                fontSize: 12
                                //rotate: -90
                            },
                            leaves: {
                                label: {
                                    position: 'right',
                                    verticalAlign: 'middle',
                                    align: 'left'
                                }
                            },
                            expandAndCollapse: true,
                            animationDuration: 550,
                            animationDurationUpdate: 750
                        }
                    ]
                });
            }
        })
    });
    $("#api_list").change(function () {
        $.ajax({
            type:'POST',
            // data:'',
            url:'/methodClone/layertree/layer3',
            dataType: 'json',
            data: {
                api_method:$("#api_list option:selected").text(),
            },
            success: function(msg){
                var data = JSON.parse(JSON.stringify(msg)).data
                myChart1.hideLoading();
                echarts.util.each(data.children, function (datum, index) {
                    index % 2 === 0 && (datum.collapsed = true);
                });
                myChart1.setOption(option = {
                    tooltip: {
                        trigger: 'item',
                        triggerOn: 'mousemove'
                    },
                    series: [
                        {
                            type: 'tree',
                            data: [data],
                            top: '1%',
                            left: '7%',
                            bottom: '1%',
                            right: '20%',
                            symbolSize: 10,
                            //orient: 'vertical',
                            label: {
                                position: 'left',
                                verticalAlign: 'middle',
                                align: 'right',
                                fontSize: 12
                                //rotate: -90
                            },
                            leaves: {
                                label: {
                                    position: 'right',
                                    verticalAlign: 'middle',
                                    align: 'left'
                                }
                            },
                            expandAndCollapse: true,
                            animationDuration: 550,
                            animationDurationUpdate: 750
                        }
                    ]
                });
            }
        })
    });
</script>
</body>
</html>