<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>方法调用图首页</title>
    <link rel="stylesheet" href="/methodClone/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/methodClone/css/select2.min.css" rel="stylesheet" />
    <style type="text/css">
        html, body {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">项目代码可视化系统</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/methodClone/">返回首页</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

            </ul>
        </div>

    </div>
</div>
<div id="main">
    <div class="page-header">
        <h1 align="center">方法调用链 <small>可视化展示</small></h1>
    </div>
    <div class="container" style="width: 60%">
        <form role="form">
            <div class="form-group">
                <label>选择方法调用链的展示粒度</label>
                <select class="form-control" id="classOrMethod">
                    <option>方法级</option>
                    <option>类级</option>
                </select>
            </div>
            <div class="form-group">
                <label>选择需要进行可视化的项目</label>

                <select class="form-control singleSelect" id="projectList" onchange="getMethodTreeRoot()">
                    <option value="" style="display: none" selected = "selected"></option>
                </select>

            </div>


            <br/>
            <a class="btn btn-primary btn-lg" id="showByMethod" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                选择方法调用链进行展示
            </a>
            <br/>
            <br/>
            <div class="collapse" id="collapseExample">
                <div class="form-group">
                    <label>选择需要进行可视化的方法调用链</label>
                    <select class="form-control" id="methodList">

                    </select>
                </div>
            </div>
            <br/>
            <button class="btn btn-primary btn-lg" id="showBtn" disabled = "disabled">方法调用图展示</button>
            <button class="btn btn-primary btn-lg" id="showLink" disabled = "disabled">方法调用链展示</button>
            <button class="btn btn-primary btn-lg" id="showCycle" disabled = "disabled">查看所有的环状调用</button>

        </form>
    </div>

</div>
<script src="/methodClone/js/jquery-3.5.1.min.js"></script>
<script src="/methodClone/js/select2.min.js"></script>
<script type="text/javascript">
    function getMethodTreeRoot(){
        $('#showBtn').removeAttr("disabled");
        $('#showCycle').removeAttr("disabled");
        $('#showLink').removeAttr("disabled");
        $.ajax({
            type:'POST',
            url:'/methodClone/graph/set',
            dataType: 'json',
            data: {
                projectName:$("#projectList option:selected").text()
            },
            success: function(msg) {
                var data = JSON.parse(JSON.stringify(msg))
            }
        });

        $.ajax({
            type:'POST',
            data: {
                projectName:$("#projectList option:selected").text()
            },
            url:'/methodClone/tree/getAllTree',
            dataType: 'json',
            success: function(msg) {
                $("#methodList").empty();
                var data = JSON.parse(JSON.stringify(msg));
                console.log(data);
                var methodRootList = data.data;
                var Array = [...methodRootList];
                Array.forEach(function(item){
                    $("#methodList").prepend("<option>" + item + "</option>")
                })
            }
        })
    }

    $("#showBtn").click(function () {
        $.ajax({
            type:'POST',
            url:'/methodClone/graph/set',
            dataType: 'json',
            data: {
                projectName:$("#projectList option:selected").text()
            },
            success: function(msg) {
                var data = JSON.parse(JSON.stringify(msg))
                if($("#classOrMethod option:selected").text()==="方法级"){
                    window.location.href ="/methodClone/graph/index"
                }else if($("#classOrMethod option:selected").text()==="类级"){
                    window.location.href ="/methodClone/graph/indexInClass"
                }

            }
        })
    });


    $("#showLink").click(function () {
        $.ajax({
            type:'POST',
            url:'/methodClone/tree/setMethodNameAndID',
            dataType: 'json',
            data: {
                methodNameAndID:$("#methodList option:selected").text()
            },
            success: function(msg) {
                var data = JSON.parse(JSON.stringify(msg))
                window.location.href ="/methodClone/tree/methodTree"
            }
        })
    });

    $("#showCycle").click(function () {
        $.ajax({
            type:'POST',
            url:'/methodClone/graph/set',
            dataType: 'json',
            data: {
                projectName:$("#projectList option:selected").text()
            },
            success: function(msg) {
                window.location.href ="/methodClone/graph/cycle"
            }
        })
    });

    $(document).ready(function(){
        $('.singleSelect').select2();
        $.ajax({
            type:'GET',
            data:'',
            url:'/methodClone/graph/project',
            dataType: 'json',
            success: function(msg) {
                var data = JSON.parse(JSON.stringify(msg))
                console.log(data)
                var projectNameList = data.data
                var Array = [...projectNameList]
                Array.forEach(function(item){
                    $("#projectList").prepend("<option>" + item + "</option>")
                });
            }
        });
    });
</script>
</body>
<!--使用Bootstrap的js插件，必须先调入jQuery-->


<!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
<script src="/methodClone/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>